.footer {
	background:#313131 url('/images/header-bottom.gif') repeat-x bottom;
	border-top:1px solid #545454;
	border-bottom:1px solid #000;
	padding:10px 25px;
	color:#fff;
}
.footer a {
	color:#fff;
	text-decoration:underline;
}
.footer a:hover {
	color:#fff;
	text-decoration:none;
}