/* Install Page */
#install-wrapper {
	margin:0 auto;
	width:400px;
	margin-top:50px;
}
div#login-wrapper div.notification {
	padding:15px 15px 15px 50px;
}
.box-header.login {
	font-size:19px;
	padding:10px 15px;
}
form.login label {
	width:145px;
}
form.login input {
	width:200px;
}