
html {
	font-size:100.01%;
}
body {
	font-size:75%;
	color:#1a1a1a;
	background:#f4f4f4;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1 {
	font-size:24px;
	margin-bottom:10px;
	font-weight:bold;
	line-height:1;
	color:#333
}
h2 {
	color:#454545;
	font-size:18px;
	font-weight:bold;
	margin-bottom:10px;
}
h3 {
	color:#666666;
	font-size:14px;
	font-weight:bold;
	margin-bottom:15px;
}
h4 {
	font-size:13px;
	font-weight:bold;
	margin-bottom:15px;
}
h5 {
	font-size:12px;
	margin-bottom:15px;
}
h6 {
	font-size:11px;
	margin-bottom:15px;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
	margin:0;
}
p {
	margin:0 0 1.5em;
	clear:both;
	line-height:1.6;
}

a:focus, a:hover {
	color:#000;
	text-decoration:underline
}
a {
	color:#333;
	text-decoration:none;
}
blockquote {
	margin:1.5em;
	color:#666;
	font-style:italic;
}
strong {
	font-weight:bold;
}
em, dfn {
	font-style:italic;
}
dfn {
	font-weight:bold;
}
sup, sub {
	line-height:0;
}
abbr, acronym {
	border-bottom:1px dotted #666;
}
address {
	margin:0 0 1.5em;
	font-style:italic;
}


/* content */

#page-wrapper {
	border-top:1px solid #060606;
	border-bottom:1px solid #000000;
	background:#f4f4f4 url('/images/page-bg.gif') repeat-x top;
}
.page {
	background: url('/images/sidebar-bg.png') repeat-y left;
}
#page-content {
	float:left;
	margin-left:20px;
	padding:25px 35px 25px 25px;
	color:#333;
	width:900px;
}
#page-header {
	border-bottom:1px solid #d5d5d5;
	padding-bottom: 10px;
	margin-bottom:25px;
	margin-left:1%;
	margin-right:1%;
	margin-left:0px;
}


/* misc */
.cl {
	clear:both;
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
	line-height:0;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.fn {
	float:none!important;
}
.tl {
	text-align:left;
}
.tr {
	text-align:right;
}
.tc {
	text-align:center;
}
.hd {
	display: none;
}
.strong {
	font-weight:bold!important;
}


.dnone{display:none;}





/* notifications */
.notification_success {
	background:#c6e5c6 url('/images/icons/notifications/success.png') no-repeat 10px 10px;
	border-color:#c1f1d1;
	min-height:50px;
	height:50px;
	padding-left:50px;
	color:black;
	display:table-cell;
	vertical-align:middle;	
}
.notification_error {
	background:#fccac3 url('/images/icons/notifications/error.png') no-repeat 10px 10px;
	border-color:#ea5338;
	min-height:50px;	
	padding:20px;
	padding-left:50px;	
	color:red;
	display:table-cell;
	vertical-align:middle;
}

.notification_error_whitout_img {
	background:#fccac3 url('/images/icons/notifications/error.png') no-repeat 10px 50%;	

	border-color:#ea5338;
	padding:20px;
	padding-left:50px;
	color:red;
	display:table-cell;
	vertical-align:middle;
}
.notification.warning {
	background:#ffeaa7 url('/images/icons/notifications/warning.png') no-repeat 10px 10px;
	border-color:#f9b418;
}
.notification.info {
	background:#d1e4f3 url('/images/icons/notifications/info.png') no-repeat 10px 10px;
	border-color:#4d8fcc;
}
.notification.tip {
	background:#feeac9 url('/images/icons/notifications/tip.png') no-repeat 10px 10px;
	border-color:#d38e49;
}
.notification {
	border-width:1px;
	border-style:solid;
	padding:17px 17px 17px 55px;
	margin-bottom:15px;
	-moz-border-radius:3px;
	-webkit-border:3px;
	border-radius:3px;
}
.notification .close {
	background:url("/images/icons/small/close.png") no-repeat scroll 0 0 transparent;
	cursor:pointer;
	display:block;
	float:right;
	height:16px;
	margin-top:2px;
	opacity:0.7;
	width:16px;
}
.notification .close:hover {
	opacity:1;
}

.cleaner{clear:both;}

.maxsize{width:100%}

.textcenter{text-align:center;}

.fleft{float:left;}
.fright{float:right;}



.px20{width:20px;}
.px50{width:50px;}
.px100{width:100px;}
.px150{width:150px;}
.px200{width:200px;}
.px250{width:250px;}
.px300{width:300px;}
.px400{width:400px;}
.px500{width:500px;}
.px600{width:600px;}
.px700{width:700px;}
.px750{width:750px;}
.px800{width:800px;}
.px850{width:850px;}
.px900{width:900px;}

.hidden{display:none;}

.pr{position:relative;}

.t3{top:3px;}

input{border:1px solid #969191;background-color:#fff;}
input[type=submit]{cursor:pointer;}
select{border:1px solid #969191;background-color:#fff;}

.ml20{margin-left:20px;}
.ml150{margin-left:150px;}
.ml160{margin-left:160px;}
.ml165{margin-left:165px;}
.ml170{margin-left:170px;}
.ml200{margin-left:200px;}
.ml220{margin-left:220px;}

.mr5{margin-right:5px;}

.ml50{margin-left:50px;}
.ml300{margin-left:420px;}

.mb10{margin-bottom:10px;}

.bold{font-weight:bold;}
.underline{text-decoration:underline;}

.bggrey{background-color:#d2d2d2;}
.bggreylight{background-color:#e8e8e8;}
.bgwhite{background-color:white;}

.pointer{cursor:pointer;}

.pr{position:relative;}

.t1{top:1px;}
.t2{top:2px;}
.t3{top:3px;}
.t4{top:4px;}
.t5{top:5px;}
.t6{top:6px;}
.t7{top:7px;}
.t8{top:8px;}
.t9{top:9px;}
.t10{top:10px;}
.t20{top:20px;}


.vtop{vertical-align:top;}


.hoverflow{overflow:hidden;}


